<aside class="side-navigation-wrap sidebar-fixed">
  <div class="sidenav-inner">
    <ul class="side-nav magic-nav">
      <li class="side-nav-header">
        Navigation
        <small>
          <a href="#themeSettingModal" data-toggle="modal" class="animated theme-setting"><i class="icon-cog"></i></a>
        </small>
      </li>
      <li class="first-link"><a href="/dash" class="animsition-link"><i class="icon-stats-dots"></i> <span class="nav-text">Dashboard</span></a></li>
      <li class="first-link"><a href="/userinfo" class="animsition-link"><i class="icon-users"></i> <span class="nav-text">Users</span></a></li>
    </ul>
  </div><!-- /.sidebar-inner -->
</aside>