<aside class="right-sidebar-wrap sidebar-fixed">
  <ul class="sidebar-tab list-unstyled clearfix font-header font-11 bg-main">
    <li class="active"><a href="#sideChatTab" data-toggle="tab" class="text-muted">Chat</a></li>
  </ul>
  <div class="sidenav-inner">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="sideChatTab">
        <ul class="chat-friend-list list-unstyled">
          <li>
            <div class="profile-pic">
              <img src="../static/img/profile11.jpg" class="img-circle" alt="">
            </div>
            <div class="chat-heading">
              <span class="chat-time">21 mins ago</span>
              <div class="chat-name font-semi-bold font-12">Mugarura Amiri</div>
            </div>
            <div class="chat-preview">
              <span class="badge badge-danger">2</span>
              <p class="font-12">Behind the device dictates a loyal harden.</p>
            </div>
          </li>
          <li class="online">
            <div class="profile-pic">
              <img src="../static/img/profile9.jpg" class="img-circle" alt="">
            </div>
            <div class="chat-heading">
              <span class="chat-time">1 hr ago</span>
              <div class="chat-name font-semi-bold font-12">Ndacyayisaba Raymond</div>
            </div>
            <div class="chat-preview">
              <span class="badge badge-danger">5</span>
              <p class="font-12">A rectangle accelerates the filter. A dry courtesy advances an apart conjecture.</p>
            </div>
          </li>
          <li class="away">
            <div class="profile-pic">
              <img src="../static/img/profile7.jpg" class="img-circle" alt="">
            </div>
            <div class="chat-heading">
              <span class="chat-time">3 hr ago</span>
              <div class="chat-name font-semi-bold font-12">Akaliza Keza</div>
            </div>
            <div class="chat-preview">
              <p class="font-12">A wrap asserts a flashing asterisk.</p>
            </div>
          </li>
        </ul>
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
  </div>
</aside>

<!-- Start Second Level Right Sidebar -->
<div class="right-sidebar-second-level">
  <div class="sidebar-header bg-main font-12 font-header">
    <span class="text-white">Larry Mccabe</span>
    <button type="button" class="close h4 no-m">&times;</button>
  </div>
  <div class="chat-inner">
    <div class="chat-items font-12">
      <div class="chat-item">
        <div class="profile-pic"><img src="../static/img/profile9.jpg" alt="" class="img-circle"></div>
        <div class="chat-content">
          <div class="chat-bubble">Hello, How are you?</div>
          <div class="font-10 text-muted chat-sent">09:42 AM <i class="icon-checkmark text-success m-d-1"></i></div>
        </div>
      </div>
      <div class="chat-item right chat-main">
        <div class="profile-pic"><img src="../static/img/profile1.jpg" alt="" class="img-circle"></div>
        <div class="chat-content">
          <div class="chat-bubble">I'm good thanks, How are you doing?</div>
          <div class="font-10 text-muted chat-sent">09:45 AM <i class="icon-checkmark text-success m-d-1"></i></div>
        </div>
      </div>
      <div class="chat-item">
        <div class="profile-pic"><img src="../static/img/profile9.jpg" alt="" class="img-circle"></div>
        <div class="chat-content">
          <div class="chat-bubble">The robot halves its vice house without the witch</div>
          <div class="font-10 text-muted chat-sent">09:46 AM <i class="icon-checkmark text-success m-d-1"></i></div>
        </div>
      </div>
      <div class="chat-item right chat-main">
        <div class="profile-pic"><img src="../static/img/profile1.jpg" alt="" class="img-circle"></div>
        <div class="chat-content">
          <div class="chat-bubble">The hash detects the dirt underneath the squared author.</div>
          <div class="font-10 text-muted chat-sent">09:46 AM <i class="icon-checkmark text-success m-d-1"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <div class="row">
      <div class="col-xs-9 no-p-r">
        <input type="text" class="form-control input-sm">
      </div>
      <div class="col-xs-3">
        <span class="text-muted text-action m-t-5 m-r-5 inline-block"><i class="icon-attachment"></i></span>
        <span class="text-muted text-action m-t-5 inline-block"><i class="icon-user-plus"></i></span>
      </div>
    </div>
  </div>
</div>
<!-- End Second Level Right Sidebar -->